.profile__add {
    width: 150px;
    height: 50px;
    margin-left: 151px;
    margin-top: 20px;
    background-image: url(../../../images/profile__add.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
}

@media screen and (max-width: 320px) {
    .profile__add {
        margin-top: 30px;
        margin-left: 0;
        width: 282px;
    }
}