/* @import url(./_open/modal_open.css); */
@import url(./__form/modal__form.css);
@import url(./__container/modal__container.css);
@import url(./__close/modal__close.css);
@import url(./__input/modal__input.css);
@import url(./__title/modal__title.css);
@import url(./__submit/modal__submit.css);

.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 100%;
  display: none;
  }